@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=GFS+Didot&display=swap');


@mixin titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: red;
}

@mixin subtitulo{
    font-family: "EB Garamond", serif;
    font-size: 1.4rem;
}

@mixin texto{
    font-family: "GFS Didot", serif;
    font-size: 1.2em;
    padding: 10px 30px;
    width: 80%;
    line-height: 40px;
    font-weight: 500;
}